[Desktop Entry]
# Translators: app name should be translated
Name[ru]=Установочник ALT Atomic
Name=ALT Atomic Installer
Comment[ru]=Установщик ALT Atomic
Comment=Installer of ALT Atomic
# Translators: keep number of ';'
Keywords[ru]=атомик;установщик;
Keywords=atomic;installer;
Exec=sudo -E atomic-installer
Icon=org.altlinux.AtomicInstaller
Terminal=false
Type=Application
Categories=GNOME;GTK;
StartupNotify=true
X-SingleMainWindow=true
NoDisplay=true
X-Purism-FormFactor=Workstation;Mobile;
X-GNOME-Gettext-Domain=atomic-installer
